// carousel

.rec {
  .rec-dot {
    display: none;
  }
  .rec-arrow {
    background-color: transparent;
    border: none !important;
    box-shadow: none;
  }
  .rec-arrow:hover {
    background-color: transparent !important;
    color: white !important;
    box-shadow: none !important;
  }
  .rec-arrow:disabled {
    visibility: hidden;
    cursor: pointer;
  }
}
.carousel-card {
  img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
}
