.hero {
  background: url("/images/butterland.jpg");
  background-position: 50% 50%;
  background-color: hsl(38, 0%, 20%);
  background-blend-mode: soft-light;
  background-size: cover;
  margin-top: $menu-height;
  height: calc(100vh - 100px);
  padding: 0;
  position: relative;
  .herovid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:after {
    content: "";
    background: #000;
    opacity: .85;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
  }
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 99;
    .secondary-text {
      color: hsl(38, 50%, 50%);
    }
    h1 {
      margin-top: 10rem;
    }
    .order {
      margin: auto 0 4rem 0;
      text-transform: uppercase;
      font-weight: 500;
      border-width: 2px;
      transition: 300ms;
      // background:hsl(38, 50%, 50%);
      // color: #000;
      svg {
        margin: 0 0.7rem 0 0 !important;
        transition: 700ms;
      }
      &:hover {
        color: hsl(38, 50%, 50%);
        border-color: hsl(38, 50%, 50%);
        svg {
          transform: rotateZ(360deg);
        }
      }
    }
  }
}

section {
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}

section:not(.hero):not(#footer) {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  h1 {
    color: $primary;
  }
}

#about {
  max-width: 750px;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    .about-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  p {
    text-align: justify;
    padding: 0 1.5rem;
  }
}

#footer {
  padding-top: 1rem;
  padding-bottom: $menu-height;
  background: hsl(38, 50%, 10%);
  color: white;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    .center {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    .schedule {
      display: grid;
      grid-template-columns: 2fr 1fr;
      row-gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 680px) {
  .herovid {
    display: none;
  }

}