.primary {
  color: $primary;
  margin: 0 0 2em 0;
}

.hero {
  background: url("/images/butterland.jpg");
  background-position: 50% 50%;
  background-size: cover;
  margin-top: $menu-height;
  height: calc(100vh - 100px);
  padding: 0;
  position: relative;
  .herovid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:after {
    content: "";
    background: #000;
    opacity: 0.55;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
  }
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 99;
    .secondary-text {
      color: hsl(38, 50%, 50%);
    }
    h1 {
      margin-top: 10rem;
    }
    .order {
      margin: auto 0 4rem 0;
      text-transform: uppercase;
      font-weight: 500;
      border-width: 2px;
      transition: 300ms;
      // background:hsl(38, 50%, 50%);
      // color: #000;
      svg {
        margin: 0 0.7rem 0 0 !important;
        transition: 700ms;
      }
      &:hover {
        color: hsl(38, 50%, 50%);
        border-color: hsl(38, 50%, 50%);
        svg {
          transform: rotateZ(360deg);
        }
      }
    }
  }
}

section {
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}

section:not(.hero):not(#footer) {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  h1 {
    color: $primary;
  }
}

#about {
  max-width: 750px;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    .about-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  p {
    text-align: justify;
    padding: 0 1.5rem;
  }
}
.jine,
.drinks {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;

  .additions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2em;
    gap: 2em;
    .card {
      margin: 0;
    }
  }
  .card {
    background: $bg-dark;
    box-shadow: 5px 5px 5px #000, -2px -2px 10px rgba(255, 255, 255, 0.05);
    margin: 1em 3em;
    border-radius: 0.5em;
    padding: 1em;
    text-align: left;
    .header {
      text-align: left;
      width: fit-content;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      * {
        margin: 0;
      }
      price {
        margin: 1em;
        color: $primary;
        font-weight: 900;
      }
    }
  }
}

#footer {
  padding-top: 1rem;
  padding-bottom: $menu-height;
  background: hsl(38, 50%, 10%);
  color: white;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin: 2rem;
    .center {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0.2rem 0;
      height: 100%;
      &:last-child {
        margin-bottom: auto;
      }
      svg {
        margin-bottom: 1rem;
      }
    }
    .schedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 0.5rem;
      column-gap: 3rem;
      width: 100%;
      span:nth-of-type(even) {
        text-align: right;
      }
      span:nth-of-type(odd) {
        text-align: left;
      }
    }
    .map {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .delivery-zones {
      display: flex;
      flex-flow: column;
      text-align: left;
      ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-right: 0.3rem;
          &:nth-of-type(even) {
            color: hsl(38, 50%, 70%);
          }
        }
      }
    }
    &:nth-of-type(1) {
      .center {
        border: 0.2rem solid #000;
        padding: 2rem;
        border-radius: 20px;
        justify-content: center;
        h5 {
          margin: 1rem 0 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 680px) {
  .hero {
    margin-top: unset;
  }
  .herovid {
    display: none;
  }
  #about {
    .wrapper {
      display: flex;
      flex-flow: column;
    }
  }
  #footer {
    .grid {
      display: flex;
      flex-flow: column;
      align-items: start;
      justify-content: space-between;
      .center {
        width: 100%;
        flex-flow: row;
        text-align: unset;
        align-items: center;
        justify-content: center;

        .align-start {
          align-self: flex-start;
        }
        svg {
          max-height: 1.5rem;
          width: 1.5rem;
          margin: 0 0.6rem;
        }
      }
      .map {
        img {
          width: calc(100% - 2.7rem);
        }
      }
      .delivery-zones {
        h3 {
          margin: 0;
        }
        .zone {
          margin: 0 0 1rem 0;
        }
      }

      &:nth-of-type(1) {
        .center {
          width: 100%;
          text-align: left;
          justify-content: flex-start;
          align-items: center;
          h5 {
            margin: 0;
          }
        }
      }
      &:nth-of-type(2) {
        .center {
          margin: 1rem 0;
        }
      }
    }
  }
}
